#background_image_AddFrom {
  background-image: url(image/13.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#form_background_AddFrom {
  background-color: white;
  margin-bottom: 45px;
  margin-top: 120px;
}

#Main_topic {
  font-size: 30px;
  font-family: times;
  font-weight: bold;
  margin-left: 90px;
}

#submit-AddItemForm {
  margin-left: 190px;
  margin-bottom: 30px;
  font-size: 20px;
}
