#image-Buy{
      width:1350px;
      height:500px;
      margin-left:90px;
      margin-top:120px;
}

#main-topic-Buy{
       font-size:50px;
       margin-left:90px;
       margin-top:30px;
       font-weight:bold;
       font-family:times;
}

#one-sub-topic-buy{
        font-size:30px;
        margin-left:25px;
        margin-top:30px;
        font-family:times;
}

#two-sub-topic-buy{
    font-size:30px;
    margin-left:25px;
    margin-top:30px;
    font-family:times;
}

#three-sub-topic-buy{
    font-size:30px;
    margin-left:25px;
    margin-top:30px;
    font-family:times;
}

#four-sub-topic-buy{
    font-size:30px;
    margin-left:25px;
    margin-top:30px;
    font-family:times;
}

#five-sub-topic-buy{
    font-size:30px;
    margin-left:25px;
    margin-top:30px;
    font-family:times;
}



#phone-card-buy{
     width:80px;
     height:80px;
     border:none;
     margin-top:20px;
     margin-left:10px;
}

#phone-buy{
       margin-left:23px;
       font-size:18px;
}


#laptop-card-buy{
    width:80px;
    height:80px;
    border:none;
    margin-top:20px;
    margin-right:50px;
}

#laptop-buy{
    margin-left:7px;
    font-size:18px; 
}

#computer-card-buy{
    width:80px;
    height:80px;
    border:none;
    margin-top:20px;
    margin-right:50px;
}


#computer-buy{
    font-size:18px;
}

#Audio-card-buy{
    width:80px;
    height:80px;
    border:none;
    margin-top:20px;
    margin-right:50px;
}


#Audio-buy{
    font-size:18px;
    margin-left:10px;
}

#tv-card-buy{
    width:80px;
    height:80px;
    border:none;
    margin-top:20px;
    margin-right:50px;
}

#tv-buy{
    font-size:18px;
    margin-left:25px; 
}

#Home-Appliances-card-buy{
    width:80px;
    height:80px;
    border:none;
    margin-top:20px;
    margin-right:50px;
}

#Home-Appliances-buy{
    font-size:18px;
}

#Sofas-card-buy{
    width:80px;
    height:80px;
    border:none;
    margin-top:20px;
    margin-left:10px;
}

#sofa-buy{
    font-size:18px;
    margin-left:27px;
}

#Desks-desk-buy{
    width:80px;
    height:80px;
    border:none;
    margin-top:20px;
    margin-left:10px;
}

#Desks-buy{
    font-size:18px;
    margin-left:25px;
}

#Mattresses-card-buy{
    width:80px;
    height:80px;
    border:none;
    margin-top:20px;
    margin-left:10px;
}

#Mattresses-buy{ 
    font-size:18px;
    margin-left:10px;
}

#Cupboards-card-buy{
    width:80px;
    height:80px;
    border:none;
    margin-top:20px;
    margin-left:10px;
}

#Cupboards-buy{
    font-size:18px;
    margin-left:10px;
}

#Beds-card-buy{
    width:80px;
    height:80px;
    border:none;
    margin-top:20px;
    margin-left:10px;
}

#Beds-buy{
    font-size:18px;
    margin-left:25px;
}

#men-card-buy{
    width:80px;
    height:80px;
    border:none;
    margin-top:20px;
    margin-left:10px;
   
}

#men-buy{
    font-size:18px;
    margin-left:5px; 
}

#Women-card-buy{
    width:80px;
    height:80px;
    border:none;
    margin-top:20px;
    margin-left:0px;
}

#Women-buy{
    font-size:18px;
    margin-left:0px;
}

#Kids-card-buy{
    width:80px;
    height:80px;
    border:none;
    margin-top:20px;
    margin-left:0px;
}

#Kids-buy{
    font-size:18px;
    margin-left:0px;
}

#Shoes-card-buy{
    width:80px;
    height:80px;
    border:none;
    margin-top:20px;
    margin-left:0px;
}

#Shoes-buy{
    font-size:18px;
    margin-left:15px;
}

#Bags-card-buy{
    width:80px;
    height:80px;
    border:none;
    margin-top:20px;
    margin-left:0px;
}

#Bags-buy{
    font-size:18px;
    margin-left:15px;
}

#ExerciseItem-card-buy{
    width:80px;
    height:80px;
    border:none;
    margin-top:20px;
    margin-left:10px;
}

#ExerciseItem-buy{
    font-size:18px;
    margin-left:10px;
}

#Bicycle-card-buy{
    width:80px;
    height:80px;
    border:none;
    margin-top:20px;
    margin-left:10px;
}

#Bicycle-buy{
    font-size:18px;
    margin-left:17px;
}

#SportsItem-card-buy{
    width:80px;
    height:80px;
    border:none;
    margin-top:20px;
    margin-left:10px;
}

#SportsItem-buy{
    font-size:18px;
    margin-left:10px;
}

#bike-card-buy{
    width:80px;
    height:80px;
    border:none;
    margin-top:20px;
    margin-left:10px;
}

#bike-buy{
    font-size:18px;
    margin-left:30px;
}

#car-card-buy{
    width:80px;
    height:80px;
    border:none;
    margin-top:20px;
    margin-left:10px;
}

#car-buy{
    font-size:18px;
    margin-left:30px;
}


#Facebook-buy{
     font-size:25px;
     margin-left:140px;
     color:white;
     border-bottom:2px solid white;
     
}

#FacebookLink-buy{
       margin-left:60px;
       font-size:18px;
       color:white;
}

#Whatsapp-buy{
    font-size:25px;
     margin-left:145px;
     color:white;
     border-bottom:2px solid white;
}

#WhatsappNumber-buy{
       margin-left:150px;
       font-size:18px;
       color:white;
}

#Phone-buy{
    font-size:25px;
     margin-left:100px;
     color:white;
     border-bottom:2px solid white;
}

#PNumber-buy{
    margin-left:150px;
    font-size:18px;
    color:white;
}

#Email-buy{
    font-size:25px;
     margin-left:130px;
     color:white;
     border-bottom:2px solid white;
}

#emailaddress-buy{
    margin-left:105px;
    font-size:18px;
    color:white;
}

#contactDetails-buy{
          background-color:rgba(0, 0, 0, 0.904);
          
}

#bulb-buy{
      color:black;
      size:40px;
}










