#Recycle_Hub{font-size:35px;
             font-family:impact;
             padding-left:20px;
            color:white}

#link1{font-size:20px;
       margin-left:700px ;}

#link2{font-size:20px;}

#link3{font-size:20px;}

#link4{font-size:20px;}

#contact_button{font-size:20px;
                padding:10px ;}